@media screen and (min-width: 1024px) and (max-width: 20000px) {
    #wrapper {
        max-width: 99.9vw;
        display: grid;
        grid-template-columns: auto repeat(4, 1fr);
        grid-auto-rows: minmax(0.05vw, auto);
       /// background-color: lightblue;


        grid-template-areas:
            "headComp headComp headComp headComp headComp "
            "menuComp prin prin prin prin "
            "menuComp rodape rodape  rodape rodape ";
    }
}


header   { grid-area: headComp; background-color: rgb(255, 255, 255);}
nav      { grid-area: menuComp; background-color: rgb(255, 255, 255);}
main     { grid-area: prin;   background-color: rgb(255, 255, 255);}
footer   { grid-area: rodape;   background-color: rgb(255, 255, 255);}